{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'stylemp.css' %}">
</head>
<body>

</section>

<a href="" id="projects"></a>
<section class="projects_area">
    <div class="content-area" id="projects-area">
        <div class="title">
            <h1>Courses</h1>
        </div>

        <div class="cards">
            <div class="card">
                <div class="card-picture">

                </div>
                <div class="card-text">

                    <br>

                </div>
            </div>
            <div class="card">
                <div class="card-picture">

                </div>
                <div class="card-text">
                    1234
                    <br>

                </div>
            </div>
            <div class="card">
                <div class="card-picture">

                </div>
                <div class="card-text">

                </div>
            </div>


        </div>
    </div>
</section>
</body>